{% extends "core/base.html" %}
{% load crispy_forms_tags %}   

{% block content %}     

<!--Register--> 
<div class="my-forms-color">
    <div class="container py-5">

        <h1>Register</h1>
        <form method="POST" class='bootstrap4'>
            
            {% if form.errors %}
            <!-- Error messaging -->
                <div id="errors">
                    <div class="inner" style="color: rgb(245, 55, 55);">
                        <p>There were some errors in the information you entered. Please correct the following:</p>
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            <!-- /Error messaging -->
            {% endif %}
              
            {% csrf_token %}
            {{ form|crispy }}                    
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="{% url 'core:login' %}">login</a> instead.</p>
    </div>
</div>

{% endblock %}