{% extends "core/base.html" %}
{% load static %}

{% block content %}

    <!--Confirm Email--> 
    <div class="my-forms-color">
        <div class="container p-5">
            <h2 class="font-weight-bold mt-3">Confirmation Email Sent!</h2>
            <hr>
            <p>We've emailed you a link. Please check your email and click the link to confirm your email. You should receive it shortly.
                <br>
                <br>
                If you don't receive an email, please check your spam folder, else click on verify again on the login page, so we can send you another verification.
            </p>
        </div>
    </div>

{% endblock %}
